.slider-wrapper {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
}
.slider {
    width: 960px;
    overflow: hidden;
    height: 300px;
    padding: 0;
}
.caption {
	position: absolute;
	right: 0;
	top: 10px;
	width: 40%;
	height: 100%;
	background: rgba(17, 17, 17, .9);
}
.caption a {
	display: block;
	width: 90%;
	margin: 50px auto 0 auto;
	color: rgba(228, 228, 228, 1);
	text-align: center;
	text-transform: capitalize;
	font-size: 25px;
}

.caption a:hover {
	color: rgba(16, 105, 215, .9);
}
.navigator {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    text-align: center;
    background: rgba(17, 17, 17, .7);
}
.navigator .item {
    margin: 0 1px;
    padding: 1px 6px;
    background-color: #e0e0e0;
    color: rgba(16, 105, 215, .9);
}
.navigator .item.active {
    color: #333333;
}